<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MimeTypesMap" version="1.0.3" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Noksa.Allure.StepInjector" version="1.0.0" targetFramework="net452" />
  <package id="Noksa.NUnit.Allure" version="3.0.4" targetFramework="net452" />
  <package id="NUnit" version="3.12.0" targetFramework="net452" />
  <package id="NUnit.Console" version="3.10.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.6" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net452" />
  <package id="RestSharp" version="106.6.10" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="77.0.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net452" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.150.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>