<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Browser" value="Firefox" />
    <add key="Url" value="https://opensource-demo.orangehrmlive.com" />
    <add key="Username" value="Admin" />
    <add key="Password" value="admin123" />
  </appSettings>
</configuration>